* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #8f6ca073;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.max-view-height {
    height: 60vh;
}

@media (max-width:700px) {
    .max-view-height {
        height: 77vh;
    }
}

.flex-direction-column {
    flex-direction: column;
}

#container-tacita {
    width: 50%;
}

@media (max-width:700px) {
    #container-tacita {
        width: 90%;
    }
}

#container-tacita>video {
    width: 100%;
}

.display-none {
    display: none;
}

#container-botones-tacita {
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px 0;
    width: 30%;
    justify-content: space-around;
    cursor: pointer;
}

@media (max-width:700px) {
    #container-botones-tacita {
        width: 60%;
    }
}

/* CSS */
.boton {
    width: 45%;
    background: linear-gradient(to bottom right, #e09a89, #e4b3e9);
    border: 0;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: monospace;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

.boton:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(154, 124, 194, 0.5), .125rem .125rem 1rem rgba(233, 88, 189, 0.5);
}

.boton:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(170, 94, 177, 0.5), .125rem .125rem 1rem rgba(179, 121, 212, 0.5);
}

.footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin-top: 8%;
    font-family: monospace;
    font-size: 13px;
    text-transform: capitalize;
    color: rgba(17, 5, 95, 0.562);
}

@media (max-width:1500px) {
    .footer {
        margin-top: 11%;
    }
}

@media (max-width:1300px) {
    .footer {
        margin-top: 13%;
    }
}


@media (max-width:1200px) {
    .footer {
        margin-top: 14%;
    }
}

@media (max-width:1000px) {
    .footer {
        margin-top: 15%;
    }
}

@media (max-width:800px) {
    .footer {
        margin-top: 17%;
    }
}

@media (max-width:700px) {
    .footer {
        margin-top: 13%;
    }
}

@media (max-width:600px) {
    .footer {
        margin-top: 10%;
    }
}

a {
    margin-right: 60%;
    cursor: pointer;
}

@media (max-width:700px) {
    a {

        margin-right: 35%;
    }
}

h1 {
    font-family: monospace;
    color: rgba(85, 75, 156, 0.562);
    text-align: center;
    margin-top: 10vh;
    font-size: 350%;

}

@media (max-width:700px) {
    h1 {
        margin-top: 3vh;
        font-size: 300%;
    }
}